@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@iconify/tailwind4" {
  prefixes: material-symbols-light;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --breakpoint-xs: 390px;
}

html {
  @apply font-inter select-none;
}

html,
body {
  @apply m-0 bg-black text-white;
}

button {
  @apply cursor-pointer;
}
